
@media screen and (min-width: 1001px) and (max-width: 1250px) {


	.column { 
		float: left;
		width: 24%;
		margin-left: 5px;
		margin-top: 20px;
		padding: 2px;
	}

	.col_img {
		float: left;
		margin-left: 5px;
		width: 200px;
		height: 100px;
		margin-top: 20px;
	}

	.col_img_oulu {
		float: left;
		margin-left: 5px;
		width: 250px;
		height: 100px;
		margin-top: 10px;
	}

		/*---------------------------------------- Participate Page CSS ------------------------------------------------------------------------------------*/

	#rate-proposal {
		float: left;
		margin-left: 5%;
		margin-right: 2%;
		margin-top: 10px;
		margin-bottom: 50px;
	}

	.gallery {
		margin: 10px;
		width: 30%;
		height: 100px;
		padding: 5px;
		border-radius: 8px;
		font-size: 15px;
	}
}

