
@media screen and (min-width: 771px) and (max-width: 1000px) {



	.Onboard {
		text-align: left;
	 	float: left;
	 	width: 45%;
	 	color: white;
	 	margin-left: 20px;
	 	margin-right: 10px;
	 	margin-top: 10px;
	 	font-size: 20px;
 	}

 	.Onboard_para {
		text-align: left;
		float: right;
		width: 45%;
		color: white;
		margin-left: 10px;
		margin-right: 20px;
		margin-top: 10px;
		font-size: 20px;
	}

	.column { 
		float: left;
		width: 30%;
		margin-left: 10px;
		margin-top: 20px;
		padding: 5px;
	}

	.col_img {
		float: left;
		margin-left: 10%;
		width: 200px;
		height: 100px;
		margin-top: 10px;
	}

	.col_img_oulu {
		float: left;
		margin-left: 10%;
		width: 250px;
		height: 100px;
		margin-top: 10px;
	}

	.form-popup {
		left: 200px;
		right: 30px;
		top: 100px;
		bottom: 30px;
	}

	.form-container {
		width: 400px;
		height: 600px;
		padding: 20px;
		margin-right: 30px;
	}

	.submit_button, .close_button {
		width: 90%;
	}

	.footer-link {
  		margin-left: 10px;
	}

	div.rights {
	  float: left;
	  margin-left: 45%;
	}

	/*---------------------------------------- Participate Page CSS ------------------------------------------------------------------------------------*/

	#rate-proposal {
		float: left;
		margin-left: 5%;
		margin-right: 3%;
		margin-top: 10px;
		margin-bottom: 50px;
	}

	.gallery {
		margin: 10px;
		width: 30%;
		height: 100px;
		padding: 5px;
		border-radius: 8px;
		font-size: 15px;
	}

	.slidecontainer {
		width: 80%;
		margin-top: 0px;
		margin-left: 80px;
		margin-right: 80px;
		margin-bottom: 20px;
	}


	#result_display {
		text-align: justify;
		margin-top: 10px;
		margin-left: 80px;
		margin-right: 80px;
		margin-bottom: 0px;
	}

	#result_display_new_criteria {
		text-align: justify;
		margin-top: 10px;
		margin-left: 80px;
		margin-right: 80px;
		margin-bottom: 50px;
	}

	.submit-rate-button {
		margin-left: 80px;
	}

	p.add-new-criteria, button.add-new-criteria-button {
  		margin-left: 80px; 
  		margin-right: 80px;
	}
}

