
@media screen and (min-width: 1251px) and (max-width: 1500px) {

	.col_img {
		float: left;
		margin-left: 5px;
		width: 200px;
		height: 100px;
		margin-top: 20px;
	}

	.col_img_oulu {
		float: left;
		margin-left: 5px;
		width: 250px;
		height: 100px;
		margin-top: 10px;
	}

			/*---------------------------------------- Participate Page CSS ------------------------------------------------------------------------------------*/

	#rate-proposal {
		float: left;
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 10px;
		margin-bottom: 50px;
	}

	.gallery {
		margin: 10px;
		width: 30%;
		height: 100px;
		padding: 5px;
		border-radius: 8px;
		font-size: 18px;
	}

	.slidecontainer {
		width: 70%;
		margin-top: 0px;
		margin-left: 15%;
		margin-right: 15%;
		margin-bottom: 20px;
	}


	#result_display {
		text-align: justify;
		margin-top: 10px;
		margin-left: 15%;
		margin-right: 15%;
		margin-bottom: 0px;
	}

	#result_display_new_criteria {
		text-align: justify;
		margin-top: 10px;
		margin-left: 15%;
		margin-right: 15%;
		margin-bottom: 50px;
	}

	.submit-rate-button {
		margin-left: 15%;
	}

	p.add-new-criteria, button.add-new-criteria-button {
  		margin-left: 15%; 
  		margin-right: 15%;
	}

}

