
  /* CSS for whole web page */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* img {
  max-width: 100%;
  width: 100%;  
} 

body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

button:focus {
  outline: none !important;
}

.required:after {
    content:" *";
    color: red;
}


	/* Form CSS*/
.form-radio {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  margin-top: 0px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

	/* Hide the browser's default radio button */
.form-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

	/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 30%;
}

	/* On mouse-over, add a grey background color */
.form-radio:hover input ~ .checkmark {
  background-color: lightgray;
}

	/* When the radio button is checked, add a blue background */
.form-radio input:checked ~ .checkmark {
  background-color: #4CAF50;
}

	/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

	/* Show the indicator (dot/circle) when checked */
.form-radio input:checked ~ .checkmark:after {
  display: block;
}

	/* Style the indicator (dot/circle) */
.form-radio .checkmark:after {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  width: 9px;
  height: 9px;
  border-radius: 80%;
  background: white;
}

	/* Form Options and Position */
form {
  text-align: left;
  margin-left: 10%;
}

.form-info-selection {
  float: left;
  width: 30%;
  text-align: right;
  font-weight: bold;
  
}

.form-radio-option {
  float: right;
  width: 50%;
  margin-left: 20px;
}


.form-radio-option input[type=text], .form-radio-option input[type=number], 
.form-radio-option select, .form-radio-option textarea {
  width: 100%;
  font-size: auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #F0F0F0; 
  resize: vertical;
}

.form-radio-option input[type=text]:hover, .form-radio-option input[type=number]:hover, 
.form-radio-option select:hover, .form-radio-option textarea:hover {
  box-shadow: 2px 2px 10px 2px powderblue;
}

.form-radio-option input[type=text]:focus, .form-radio-option input[type=number]:focus, 
.form-radio-option select:focus, .form-radio-option textarea:focus {
  box-shadow: 2px 2px 10px 2px powderblue;
  outline: none;
  border: 1px solid black;
}


  /* Submit and Continue Button */
.form-button {
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: #4CAF50; 
  border: 2px solid #4CAF50;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.form-button:hover {
  background-color: #4CAF50;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

  /* Black Footer part CSS */

.footer {
  clear: both;
  width: 100%;
  height: 250px;
  padding: 50px;
  margin-top: 15px;
  background: rgba(0, 0, 0, 0.8);
}

.Onboard {
  text-align: left;
  float: left;
  width: 35%;
  color: white;
  margin-left: 100px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 20px;
}

.Onboard_para {
  text-align: left;
  float: right;
  width: 35%;
  color: white;
  margin-left: 10px;
  margin-right: 100px;
  margin-top: 10px;
  font-size: 20px;
}


  /* Contact Us and Find Result Buttons CSS */

.send_email_button, .find-result-button {
  display: inline-block;
  width: 200px;
  height: 50px;
  padding: 0;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: white; 
  color: #4CAF50; 
  border: 2px solid #4CAF50;
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition-duration: 0.4s;
}

.send_email_button:hover, .find-result-button:hover {
  background-color: #4CAF50;
  color: white;
  border: none;
  outline: none;
}


    /* Contact Us Pop Up Form CSS */

.form-popup {
  display: none;
  position: fixed;
  left: 300px;
  right: 100px;
  top: 100px;
  bottom: 30px;
  outline: none;
  border: none;
  z-index: 1031;
}

      
.form-container {
  text-align: left;
  width: 500px;
  height: 600px;
  padding: 20px;
  background-color: rgb(90, 138, 126);
  color: white;
  border-radius: 10px;
  border: none;

}

      
.form-container input[type=text], .form-container textarea {
  width: 100%;
  padding: 12px;
  font-size: 12px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 15px;
  resize: vertical;
}

.form-container input[type=text]:hover, .form-container textarea:hover {
  background-color: none;
  border: 1px solid black;
  outline: none;
  box-shadow: 2px 2px 10px 2px powderblue;
}

.form-container input[type=text]:focus, .form-container textarea:focus {
  background-color: none;
  border: 1px solid black;
  outline: none;
  box-shadow: 2px 2px 10px 2px powderblue;
}


     /* Contact Form  Buttons CSS */ 

.submit_button {
  width: 45%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  margin: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  background-color: white; 
  color: rgb(171, 119, 9); 
  border: 2px solid rgb(171, 119, 9);
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.submit_button:hover {
  background-color: rgb(171, 119, 9);
  color: white;
}

      
.close_button {
  width: 45%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  margin: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  background-color: white; 
  color: red; 
  border: 2px solid red;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.close_button:hover {
  background-color: red;
  color: white;
}

/* Footer White part CSS */

.column { 
  float: left;
  width: 25%;
  padding: 25px;
}

.column a:link, .column a:visited, .column a:active {
  margin-left: 50px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
} 

.column a:hover {
  color: green;
  text-decoration: none;
}

.footer-link {
  margin-left: 20px;
}

.col_img {
  float: left;
  margin-left: 5px;
  width: 200px;
  height: 100px;
  margin-top: 20px;
}

.col_img_oulu {
  float: left;
  margin-left: 5px;
  width: 250px;
  height: 100px;
  margin-top: 10px;
}

.column:after {
  content: "";
  display: table;
  clear: both;
}

div.rights {
  float: left;
  margin-left: 25%;
  font-weight: bold;
  font-size: 15px;
  color: #4CAF50;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #4CAF50;
  background-color: #F0F0F0;
}

/*---------------------------------------- Participate Page CSS ------------------------------------------------------------------------------------*/

#rate-proposal {
	float: left;
	margin-left: 12%;
	margin-right: 10%;
	margin-top: 10px;
	margin-bottom: 50px;
}

.gallery {
	position: relative;
	text-align: center;
	float: left;
	margin: 30px;
	width: 28%;
	height: 120px;
	padding: 10px;
	border-radius: 8px;
	background-color: white;
	color: #4CAF50;
	font-weight: bold;
	font-size: 20px;
	border: 1px solid #4CAF50;
	cursor: pointer;
}

.gallery:hover {
		box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.3);
}

.gallery:focus {
	background-color: rgba(0, 0, 0, 0.1);
}


	/* Range Slider CSS */

.slidecontainer {
	width: 65%;
	margin-top: 0px;
	margin-left: 18%;
	margin-right: 18%;
	margin-bottom: 20px;
}

#slider-range1, #slider-range2, #slider-range3, #slider-range4 {
	background: mediumseagreen;
	border-radius: 4px;
	border: none;
	outline: none;
	opacity: 0.8;
}

#amount1, #amount2, #amount3, #amount4 {
	border: none; 
	outline: none; 
	color: blue; 
	font-weight: bold;
	font-size: 20px;
}

	/* Took this from Jquery default CSS */
.ui-slider .ui-slider-range {
	background: rgb(171, 119, 9);
}

	/* Took this from Jquery default CSS */
span.ui-slider-handle.ui-corner-all.ui-state-default {
    border: 1px solid black;
    cursor: pointer;
}


	/* To display the result of search CSS */
#result_display {
	text-align: justify;
	margin-top: 10px;
	margin-left: 18%;
	margin-right: 18%;
	margin-bottom: 0px;
}


#result_display_new_criteria {
	text-align: justify;
	margin-top: 10px;
	margin-left: 18%;
	margin-right: 18%;
	margin-bottom: 50px;
}

	/* Submit and Rate other suggestions, and New Criteria Proposal Buttons CSS */
.submit-rate-button {
  display: inline-block;
  padding: 12px 25px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 18%;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #4CAF50; 
  color: white; 
  border: 2px solid #4CAF50;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.submit-new-criteria-button {
  display: inline-block;
  padding: 12px 25px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 0%;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #4CAF50; 
  color: white; 
  border: 2px solid #4CAF50;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.submit-rate-button:hover, .submit-new-criteria-button:hover {
  background-color: white;
  color: #4CAF50;
  border: 2px solid #4CAF50;
}

	/* Rate this proposal and Click here to add options CSS */
.proposal-below-button, .add-new-criteria-button {
  display: inline-block;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  color: #4CAF50; 
  border: none;
  outline: none;
  text-decoration: none;
}

.proposal-below-button:hover, .add-new-criteria-button:hover {
  background-color: lightgray;
  color: #4CAF50;
  border-bottom: 2px solid #4CAF50;
  outline: none;
}

p.add-new-criteria, button.add-new-criteria-button {
  margin-left: 18%; 
  margin-right: 18%;
}




